.block_container{
    display: flex;
    justify-content: center;
}

.box,
.orders{
    height:50vh;
    width:50vh;
    margin-left: 5%;
    border: 3px solid #000000;
    border-radius: 28px 28px 28px 28px;
    padding: 7px;
    margin-top: 90px;
  }

#total{
    margin-top: 18%;
    font-size: 17px;
    width: 40%;
    margin-left: 12%;
    line-height: 45px;
}

#email,
#cardPayment,
#phone,
#bAddress{
    margin-left: 12%;
    line-height: 45px;
}

#edit{
    font-size: 15px;
    width:10%;
    color:white;
    padding:7px;
    margin-left: 65%;
    margin-top: 10%;
    border-radius: 40px;
    background: rgb(38, 108, 212);
    text-align: center;
}