* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


/*Navbar*/

.navbar {
    background-color: rgb(0, 114, 198);
    position: fixed;
    width: 100%;
}

ul {
    display: flex;
    list-style-type: none;
    height: 10vh;
    align-items: center;
    flex-direction: row;
}

li {
    padding-left: 30px;
    color: white;
}

#menu {
    margin-left: 20px;
}

#login {
    margin-left: auto;
    margin-right: 40px;
}


/*Login/Sign Up Modal*/

.loginSignup {
    display: none;
    flex-direction: column;
    width: 200px;
    height: 120px;
    align-items: center;
    position: absolute;
    right: 0px;
    float: top;
    padding-top: 10px;
    background-color: white;
    border: solid;
}

#loginEmail,
#loginPassword {
    height: 30px;
    width: 180px;
}

#signup {
    margin-top: 10px;
    text-align: right;
}


/*Advertisement*/

.newAdvertisement {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding-top: 60px;
}

#advertisement {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    width: 1060px;
    min-height: 40vh;
}


/*Menu Item Headers*/

.menuHeaders {
    background-color: rgb(0, 114, 198);
    display: flex;
    flex-flow: row wrap;
    min-height: 50vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#pizza,
#sides,
#desserts,
#drinks {
    display: flex;
    background-color: white;
    border-style: solid;
    min-width: 500px;
    min-height: 20vh;
    margin: 20px;
    justify-content: center;
    align-items: center;
}


/*Quicklinks*/

.quicklinks {
    background-color: white;
    display: flex;
    flex-direction: row;
    min-height: 50vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#contactlessDelivery,
#becomePart,
#startOrder {
    background-color: white;
    display: flex;
    border-style: solid;
    width: 300px;
    min-height: 40vh;
    margin: 20px;
    justify-content: center;
    align-items: center;
}


/*Join Newsletter*/

.joinNewsletter {
    background-color: rgb(0, 114, 198);
    display: flex;
    flex-direction: column;
    min-height: 15vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

#newsletterText {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

#newsletterEmail {
    width: 700px;
    min-height: 5vh;
}


/*General Information*/

.generalInfo {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.ourCompanySection,
.ourPizzaSection,
.helpSection {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 250px;
    min-height: 15vh;
    text-align: left;
    justify-content: center;
    margin-left: 150px;
}

.helpSection {
    margin-right: 50px;
}


/*Slice of Blue Description*/

.description {
    padding: 60px;
}