* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}


/*Navbar*/

.navbar {
    background-color: rgb(0, 114, 198);
    position: fixed;
    width: 100%;
}

ul {
    display: flex;
    list-style-type: none;
    height: 10vh;
    align-items: center;
    flex-direction: row;
}

li {
    padding-left: 30px;
    color: white;
}

.navlink:visited {
    color: white;
}

.navlink:hover,
#login:hover,
#logout:hover {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(0, 217, 255);
}

#menu {
    margin-left: -20px;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    padding: 0;
    margin-top: 60px;
    border-radius: 50%;
}

.rightInner {
    margin-right: 40px;
}

.rightSide {
    margin-left: auto;
    margin-right: 40px;
    cursor: pointer;
}


/*Login/Sign Up Modal*/

.loginSignup {
    display: none;
    flex-direction: column;
    width: 200px;
    height: 140px;
    align-items: center;
    position: absolute;
    right: 0px;
    float: top;
    padding-top: 10px;
    background-color: white;
    border: solid;
}

#loginEmail,
#loginPassword {
    height: 30px;
    width: 180px;
}

#signup {
    margin-top: 10px;
    padding-left: 20px;
}

.signuplink:hover {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(0, 114, 198);
}

.signuplink:visited {
    color: black;
}

#loginmodal {
    text-decoration: none;
    cursor: pointer;
    padding-right: 20px;
}

#loginmodal:hover {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(0, 114, 198);
}

#loginmodal,
#signup {
    display: inline;
}


/*Advertisement*/

.newAdvertisement {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding-top: 60px;
}

#advertisement {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    width: 1060px;
    min-height: 40vh;
}


/*Menu Item Headers*/

.menuHeaders {
    background-color: rgb(0, 114, 198);
    display: flex;
    flex-flow: wrap;
    min-height: 50vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#pizza,
#sides,
#desserts,
#drinks {
    display: flex;
    background-color: white;
    border-style: solid;
    min-width: 500px;
    min-height: 20vh;
    margin: 20px;
    justify-content: center;
    align-items: center;
}


/*Quicklinks*/

.quicklinks {
    background-color: white;
    display: flex;
    flex-direction: row;
    min-height: 50vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#contactlessDelivery,
#becomePart,
#startOrder {
    background-color: white;
    display: flex;
    border-style: solid;
    width: 300px;
    min-height: 40vh;
    margin: 20px;
    justify-content: center;
    align-items: center;
}


/*Join Newsletter*/

.joinNewsletter {
    background-color: rgb(0, 114, 198);
    display: flex;
    flex-direction: column;
    min-height: 15vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

#newsletterText {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

#newsletterEmail {
    width: 700px;
    min-height: 5vh;
}


/*General Information*/

.generalInfo {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.ourCompanySection,
.ourPizzaSection,
.helpSection {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 250px;
    min-height: 15vh;
    text-align: left;
    justify-content: center;
}


/*Slice of Blue Description*/

.description {
    padding: 60px;
}


/*Sign Up Form*/

#signupinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}

#userName,
#signupReenterPassword,
#signupEmail,
#signupPassword {
    height: 50px;
    width: 600px;
}

#createAccount {
    padding-left: 245px;
}

#signupinfoLogin {
    padding-left: 280px;
}

#createAccount:hover,
#signupinfoLogin:hover {
    text-shadow: 2px 2px 4px rgb(0, 114, 198);
    font-weight: bold;
}