.info {
    min-height: 50vh;
    padding: 15px;
    justify-content: space-evenly;
}

#signupform,
#box{
    width: 500px;
    min-height: 45vh;
    margin: 20px;
    margin-top: 8%;
    text-align: left;
}

#edit{
    font-size: 15px;
    width:10%;
    color:white;
    padding:7px;
    margin-left: 45%;
    margin-top: 60%;
    border-radius: 40px;
    background: rgb(38, 108, 212);
    text-align: center;
}

