body {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10vh;
}

.cartTitle {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu,
.cart,
.addmenuitem,
.tempMenu {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu,
.tempMenu,
.cart,
.addmenuitem {
    width: 45vw;
}

.cartItem,
.menuItem,
.cartTitle {
    margin-bottom: 20px;
}

.itemname,
.itemprice,
.description {
    width: 250px;
    height: 25px;
}

.itemtype {
    width: 256px;
    height: 35px;
}

.itemprice::-webkit-outer-spin-button,
.itemprice::-webkit-inner-spin-button {
    display: none;
}